:host {
  margin: 0 auto;
  display: flex;
  flex-direction:column;
    
  align-items:center;
  max-width: 100%;

}
header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  
  background: #f1f1f1;
  justify-content: space-between;
  align-items: center;

  & button {
    min-width: 6rem;
  }

  .experiment {
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 1.2rem;
  }

}

.progress {
  box-sizing: border-box;    
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  
}



.start {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 1.2rem;
  p {
    margin:0;
    margin-bottom: 0.5rem;
    line-height: 1.8rem;
  }
}

.container {
  padding: 2rem;
}

.container-form {
  
  
  width: 600px;
  
}

.continue {
  background:#207fe8;
  color: white;
  width: 200px;
  font-size: 16px;
    line-height: 47px;
}

.headline {  
  margin-bottom: 2rem;
}

.x-small {
  max-width: 576px;
}

.small {
  max-width: 576px;
}

.medium {
  
  max-width: 768px;
}

.large {
  max-width: 992px;
}

.col {
  grid-gap: 10px;
}

.col-1 {
  display:grid;
  grid-template-columns: 1fr;
}

.col-2 {
  display:grid;
  grid-template-columns: 1fr 1fr;
  

  &.ratio-1-2 {
    grid-template-columns: 1fr 2fr;
  }
  
  &.ratio-2-1 {
    grid-template-columns: 2fr 1fr;
  }
}

.col-3 {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cell-50 {
  max-width: 50%;
}

.cell-33 {
  max-width: 33.33%;
}

.cell-50 {
  max-width: 50%;
}

.cell-75 {
  max-width: 75%;
}