<header>
	<div class="experiment">{{currentExperiment  | slice:0:6}}</div>
	<div class="progress">
		<mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
	</div>
	<button mat-stroked-button color="primary" (click)="reset()">
    <mat-icon>refresh</mat-icon>
  </button>
</header>

<div class="container medium">

	<div class="start" *ngIf="!started">
		<p>Imagine you are a traveller who just bought plane tickets for a holiday and require a visa to go to your
			destination. During the application you are asked to provide your address.<p>
				<p> Recall an address you are familiar with. You will be asked to enter it in a few times on different
					pages.
				</p>
				<p>
					When you are ready, click the start button.
				</p>
				<br><br><br><br>
				<button mat-raised-button (click)="start()">Start <mat-icon>play_arrow</mat-icon></button>

	</div>

	<ng-container *ngIf="started">
		<form class="form">
			<mat-tab-group animationDuration="0ms" [selectedIndex]="selectedIndex">
				<ng-container *ngFor="let form of forms; let formIndex = index">
					<mat-tab [label]="form.label">
						<div class="container-form">
							<div class="headline">
								<h1>{{form.title}}</h1>
								<p>{{form.description}}</p>
							</div>
							<ng-container *ngFor="let fieldGroup of form.fieldGroups; let groupIndex = index">
								<div [class]="fieldGroup.classes">
									<ng-container *ngFor="let field of fieldGroup.fields">
										<mat-form-field [class]="field.classes" [appearance]="field.appearance">
											<mat-label>{{field.label}}</mat-label>
											<mat-icon matPrefix *ngIf="field.iconLeft">{{field.iconLeft}}</mat-icon>
											<input matInput
                        [type]="field.inputType"
                        [placeholder]="field.placeholder"
                        (input)="field.value = $event.target.value"
                        [value]="field.value" 
                        [required]="field.required">
											<mat-icon matSuffix *ngIf="field.iconRight">{{field.iconRight}}</mat-icon>
										</mat-form-field>
									</ng-container>
								</div>
							</ng-container>
							<button class="continue" mat-flat-button (click)="continue(formIndex)">
                Continue
              </button>
						</div>
					</mat-tab>
				</ng-container>
			</mat-tab-group>
		</form>
	</ng-container>

</div>